{% extends 'base.html' %}


{% block main %}

    <form action="/about" method="POST">
        {{ form.csrf_token() }}
        
        <div class="form-group">
            <label>{{ form.title.label }}</label>
            {{ form.title }}
        </div>
        <div class="form-group">
            {{ form.submit }}
        </div>
        <br>

        {% if tasks %}
            <div> Tasks list : </div><br>

            {% for task in tasks %}
                <div class="">{{task.title}}</div>
            {%endfor%}
        {% endif %}
    </form>
{% endblock main %}